/*---------- First box ---------*/

.box-one {
  position: relative;
}

.main-thought {
  font-family: $secondary-font;
  font-size: 1.7em;
  line-height: 1.5em;

  @media ($screen-sm) {
    font-size: 1.4em;
  }
}

.quote {
  margin-left: 38%;
  text-align: center;
  width: 60%;

  @media ($screen-sm) {
    width: 72%;
    margin-left: 28%;
  }
}

.quote-text {
  color: $florence-orange;
  font-family: $secondary-font;

  @media ($screen-sm) {
    text-align: left;
  }
}

.attribution {
  font-family: $main-font-medium;
  font-size: 0.75em;
  font-style: normal;

  @media ($screen-sm) {
    text-align: left;
  }
}

.pill-bottle {
  bottom: 0;
  position: absolute;
  transform: translate(-10%, 45%);
  width: 9em;
  z-index: 3;

  @media ($screen-sm) {
    left: 0;
    max-height: 200px;
    transform: translate(-45%, -18%);
    width: 9em;
  }

  @media ($screen-xs-up) and ($screen-sm) {
    transform: translate(-45%, -2%);
  }
}

.pill-bottle2 {
  bottom: 0;
  position: absolute;
  transform: translate(80%, 15%);
  width: 6em;
  z-index: 1;

  @media ($screen-sm) {
    left: 0;
    transform: translate(7%, -45%);
    width: 6em;
  }

  @media ($screen-xs-up) and ($screen-sm) {
    transform: translate(20%, -20%);
  }
}

.pill-bottle3 {
  bottom: 0;
  position: absolute;
  width: 10em;
  transform: translate(-75%, 20%);
  z-index: 0;

  @media ($screen-sm) {
    display: none;
  }
}
