.closing {
  color: $florence-blue;
  margin: 0px auto 50px;
  position: relative;
  width: 80%;

  @media ($screen-md-up) {
    margin-bottom: 150px;
    width: 50%;
  }

  p:last-of-type {

    @media ($screen-md-up) {
      width: 50%;
    }
  }

  .section-intro {
    font-size: 3em;
    width: initial;
  }
}

.booklet {
  display: none;

  @media ($screen-md-up) {
    display: block;
    height: 160px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-100px, 250px);
  }
}

.logo-with-title {
  margin: auto;

  @media ($screen-md-up) {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 350px;
  }
}
