.concept {
  background: linear-gradient($florence-blue, $florence-light-blue);
  color: $white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 180px;
  padding-top: 130px;
  position: relative;
  width: 100%;
  
  .section-title {
  	color: $white;
  	margin-bottom:-10px;
  }

  .section-intro {
  	color: $white;
  	font-size: 2.5em;
  }

  p {
    margin: 10px auto 30px auto;
    width: 85%;
    
    @media ($screen-sm-up) {
      width: 60%;
    }
  }
}

.florence {
 margin-left: 18px;
 position: absolute;
 width: 250px;
 top: -150px;
}