.concept {
  background: linear-gradient($florence-blue, $florence-light-blue);
  color: $white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 180px;
  padding-top: 130px;
  position: relative;
  width: 100%;

  .section-title {
    color: $white;
    margin-bottom: -10px;
  }

  .section-intro {
    color: $white;
    font-size: 2.5em;
  }

  p {
    margin: 10px auto 30px;
    width: 85%;

    @media ($screen-sm-up) {
      width: 65%;
    }
  }

  .box {
    color: $florence-gray;
    padding-top: 0;

    @media ($screen-md-up) {
      padding: 4%;
      width: 60%;
    }

    @media ($screen-lg-up) {
      padding-bottom: 8%;
    }
  }
}

.florence {
  margin-left: 18px;
  position: absolute;
  top: -150px;
  width: 250px;
}

/*-------- Demo Styles -------*/

.demo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 70px 0;
  position: relative;

  @media ($screen-md-up) {
    flex-flow: row nowrap;
    margin-top: 50px;
  }

  h3 {
    color: $florence-med-blue;
    text-align: center;
    text-transform: uppercase;

    @media ($screen-md-up) {
      text-align: left;
    }
  }

  p {
    font-family: $secondary-font;
    line-height: 1.9em;
    width: 100%;
  }

  &-two {

    @media ($screen-md-up) {
      overflow: hidden;
    }

  }
}

.explain {
  background-color: $white;
  padding: 30px 4% 0;
  z-index: 1;

  @media ($screen-md-up) {
    width: 50%;
  }
}

.messages {

  @media ($screen-sm-up) {
    width: 50%;
  }
}

.illo {
  align-self: center;
  position: absolute;

  &.cup {
    top: -85px;
    width: 120px;
    z-index: 2;

    @media ($screen-md-up) {
      bottom: -33px;
      left: 197px;
      top: initial;
      width: 158px;
    }
  }

  &.good-job {
    top: -95px;
    width: 200px;
    z-index: 0;

    @media ($screen-md-up) {
      bottom: -140px;
      left: 197px;
      top: initial;
      width: 190px;
      z-index: 2;
    }
  }

}

.message {

  &-left {
    background-color: $florence-light-gray;
    justify-self: flex-start;
    margin-left: 12%;
    text-align: left;
    width: 70%;
  }

  &-right {
    background-color: $florence-med-blue;
    color: $white;
    margin-left: 75%;
    position: relative;
    text-align: center;
    width: 14%;

    &::before {
      border: 14px solid transparent;
      border-bottom: 0;
      border-left: 0;
      border-radius: 0 0 15px 15px;
      border-right-color: $white;
      bottom: -2px;
      content: '';
      height: 0;
      margin-right: -27px;
      margin-top: -13.5px;
      position: absolute;
      right: 14px;
      transform: rotate(15deg);
      width: 0;
      z-index: 1;
    }

    &::after {
      border: 14px solid transparent;
      border-bottom: 0;
      border-left-color: $florence-med-blue;
      border-right: 0;
      bottom: 0;
      content: '';
      height: 0;
      margin-right: -27px;
      margin-top: -13.5px;
      position: absolute;
      right: 23px;
      transform: rotate(10deg);
      width: 0;
    }
  }
}

.messages {
  width: 100%;

  @media ($screen-sm-up) {
    margin: auto;
    width: 60%;
  }

  @media ($screen-md-up) {
    width: 50%;
  }

  ul {
    display: flex;
    flex-flow: column wrap;
    font-size: 0.9em;
    list-style: none;
  }

  li {
    border-radius: 10px;
    line-height: 1.3em;
    margin-top: 5px;
    padding: 10px 10px 8px;
  }
}

.recent {
  position: relative;
  z-index: 4;

  & .avatar-left::before {
    background: url('../images/florence-avatar.svg') -3px -1px, $florence-yellow no-repeat;
    background-size: 45px 45px;
    border-radius: 999px;
    bottom: -10px;
    content: '';
    height: 40px;
    left: -50px;
    position: absolute;
    width: 40px;
    z-index: 1;
  }

  &::before {
    border: 14px solid transparent;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 0 7px;
    border-right-color: $white;
    bottom: 0;
    content: '';
    height: 0;
    left: -13px;
    margin-right: -27px;
    margin-top: -13px;
    position: absolute;
    transform: rotate(-10deg);
    width: 0;
    z-index: 1;
  }

  &::after {
    border: 14px solid transparent;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 0 7px;
    border-right-color: $florence-light-gray;
    bottom: 0;
    content: '';
    height: 0;
    left: -6px;
    margin-right: -27px;
    margin-top: -13px;
    position: absolute;
    transform: rotate(-5deg);
    width: 0;
  }
}
