body {
  background-color: $florence-light-blue;
  margin: 0;
}

ul {
  padding: 0;
}

a {
  color: $florence-red;
  text-decoration: underline;
}

.box {
  background: $white;
  margin: auto;
  max-width: 100vw;
  padding: 30px 25px 50px 25px;

  @media ($screen-sm-up) {
    border-radius: 4px;
    max-width: 65vw;
    padding: 30px 63px;
  }
}
