/*----------- Key Factors -----------*/

.key-factors {
  color: $florence-gray;
  margin-top: 150px;

  @media ($screen-sm) {
    margin-top: 65px;
  }

  h3 {
    color: $florence-orange;
    font-size: 1em;
    margin-bottom: -8px;
    text-transform: uppercase;
  }
}

.section-title {
  color: $florence-blue;
  font-size: 0.65em;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.section-intro {
  color: $florence-blue;
  font-family: $secondary-font;
  font-size: 1.7em;
  line-height: 1.6em;
  margin: auto;
  text-align: center;
  width: 57vw;

  @media ($screen-sm) {
    font-size: 1.4em;
    width: 85vw;
  }
}

.factor-bg {
  background-image: url('../images/body-burst.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70vw;
  height: 600px;
  margin-top: -55px;

  @media ($screen-sm) {
    background-image: url('../images/body-burst-mobile.png');
    background-position: top;
    background-size: 100vw;
    height: initial;
    margin-top: -160px;
  }

  @media ($screen-xs) {
    margin-top: -140px;
  }
}

.factor-box {
  background-color: $white;
  border-radius: 9px;
  font-size: 0.7em;
  line-height: 1.4em;
  overflow-x: visible;
  padding: 25px;
  position: relative;
  width: 200px;

  @media ($screen-sm) {
    font-size: 0.9em;
    left: 0;
    line-height: 1.6em;
    margin: 40px auto;
    top: 0;
    width: 70vw;

    & h3 {
      letter-spacing: 1px;
    }
  }


  &::before {
    background-repeat: no-repeat;
    background-size: 65px 65px;
    bottom: 0;
    content: '';
    display: block;
    height: 88px;
    margin: auto;
    position: absolute;
    top: 20px;
    width: 88px;
  }

  &-left {
    border-radius: 156px 999px 999px 156px;
    right: -56%;
    top: 11%;

    &:before {
      right: -60px;
      
      @media ($screen-sm) {
        background-size: 60px 60px;
        left: 34vw;
        top: -80%;
      }
    }

    @media ($screen-sm) {
      border-radius: 4px 4px 4px 4px;
    }
  }

  &-right {
    border-radius: 999px 156px 156px 999px;
    left: 0;

    &::before {
      left: -45px;

      @media ($screen-sm) {
        background-size: 60px 60px;
        right: 23vw;
        top: -80%;
      }

      @media ($screen-xs) {
        right: 21vw;
      }
    }

    @media ($screen-sm) {
      border-radius: 4px 4px 4px 4px;
    }
  }

  &.comprehension {
    left: 56%;
    top: 18%;

    &:before {
      background-image: url('../images/gears.png');
    }

    @media ($screen-sm) {
      left: 0;
      top: 450px;
    }

    @media ($screen-xs) {
      top: 400px;
    }
  }

  &.denial {
    left: 25%;
    top: 14%;

    &:before {
      background-image: url('../images/heart.png');
    }

    @media ($screen-sm) {
      left: 0;
      top: 450px;
    }

    @media ($screen-xs) {
      top: 400px;
    }
  }

  &.cost {
    left: 57%;
    top: 10%;
    
    &:before {
      background-image: url('../images/money.png');
    }
  }

  &.complexity {
    left: 15%;
    top: -3%;

    &:before {
      background-image: url('../images/tally.png');
    }

    @media ($screen-sm) {
      left: 0;
    }
  }

  @media ($screen-sm) {
    top: 450px;
  }

  @media ($screen-xs) {
    top: 400px;
  }
}

.factor-icon {
  height: 40px;
  width: 40px;
  position: absolute;

  &-toggle {

    @media ($screen-sm) {
      display: none;
    }
  }

  &-comprehension {
    top: 100%;
  }
}