/*----------- Key Factors -----------*/

.key-factors {
  color: $florence-gray;
  margin-top: 150px;

  @media ($screen-sm) {
    margin-top: 65px;
  }

  h3 {
    color: $florence-orange;
    font-size: 1em;
    margin-bottom: -0.3em;
    text-transform: uppercase;
  }
}

.section-title {
  color: $florence-blue;
  font-size: 0.65em;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.section-intro {
  color: $florence-blue;
  font-family: $secondary-font;
  font-size: 1.7em;
  line-height: 1.6em;
  margin: auto;
  text-align: center;
  width: 57vw;

  @media ($screen-sm) {
    font-size: 1.4em;
    width: 85vw;
  }
}

.factor-bg {
  background: url('../images/body-burst.png') no-repeat center, 1000px;
  height: 740px;
  margin-top: -110px;
  width: 100%;

  @media ($screen-sm) {
    background: url('../images/body-burst-mobile.png') no-repeat top, 100vw ;
    margin-top: -190px;
    min-height: 1400px;
  }

  @media ($screen-xs) {
    background-size: 100vw;
    margin-top: -165px;
  }
}

.factor-box {
  background-color: $white;
  border-radius: 9px;
  font-size: 0.8em;
  line-height: 1.4em;
  overflow-x: visible;
  padding: 25px;
  position: relative;
  width: 210px;

  @media ($screen-sm) {
    font-size: 0.9em;
    left: 0;
    line-height: 1.6em;
    margin: 40px auto;
    text-align: center;
    top: 0;
    width: 70vw;

    h3 {
      letter-spacing: 1px;
    }
  }


  &::before {
    background-repeat: no-repeat;
    background-size: 65px 65px;
    bottom: 0;
    content: '';
    display: block;
    height: 65px;
    margin: auto;
    position: absolute;
    top: 20px;
    width: 65px;
  }

  &-left {
    border-radius: 156px 999px 999px 156px;
    padding-right: 40px;
    right: -56%;
    top: 11%;

    &:before {
      right: -50px;
      
      @media ($screen-sm) {
        background-size: 60px 60px;
        left: -8vw;
        top: -95%;
      }

      @media ($screen-xs) {
        left: -13vw;
      }
    }

    @media ($screen-sm) {
      border-radius: 4px;
      padding-right: 20px;
    }
  }

  &-right {
    border-radius: 999px 156px 156px 999px;
    left: 0;
    padding-left: 40px;

    &::before {
      left: -50px;

      @media ($screen-sm) {
        background-position: center;
        background-size: 60px 60px;
        left: 34vw;
        top: -100%;
      }

      @media ($screen-xs) {
        left: 32vw;
      }
    }

    @media ($screen-sm) {
      border-radius: 4px;
      padding-left: 20px;
    }
  }

  &.comprehension {
    left: 56%;
    top: 18%;

    &:before {
      background-image: url('../images/gears.png');
    }
    
    @media ($screen-lg-up) {
      left: 54vw;
    }

    @media ($screen-lg-up) and ($screen-xl) {
      top: 14%;
    }

    @media ($screen-md) {
      top: 20%;
    }

    @media ($screen-sm) {
      left: 0;
      top: 700px;
    }

    @media ($screen-xs) {
      top: 420px;
    }
  }

  &.denial {
    left: 25%;
    top: 14%;

    &:before {
      background-image: url('../images/heart.png');
    }

    @media ($screen-sm-up) and ($screen-md) {
      left: 17vw;
    }

    @media ($screen-lg-up) and ($screen-xl) {
      left: 26vw;
    }

    @media ($screen-xl-up) {
      left: 32vw;
    }


    @media ($screen-sm) {
      left: 0;
      top: 700px;
    }

    @media ($screen-xs) {
      top: 420px;
    }
  }

  &.cost {
    left: 57%;
    top: 10%;
    
    &:before {
      background-image: url('../images/money.png');
    }
  
    @media ($screen-lg-up) {
      left: 54vw;
    }

    @media ($screen-sm) {
      left: 0;
      top: 700px;
    }

    @media ($screen-xs) {
      top: 420px;
    }
  }

  &.complexity {
    left: 14vw;
    top: -3%;

    &:before {
      background-image: url('../images/tally.png');
    }

    @media ($screen-md) {
      left: 4vw;
      top: -4%;
    }

    @media ($screen-sm) {
      left: 0;
      top: 700px;
    }

    @media ($screen-xs) {
      top: 420px;
    }

    @media ($screen-lg-up) {
      left: 27vw;
    }

    @media ($screen-lg-up) and ($screen-xl) {
      left: 19vw;
    }
  }
  
  

  @media ($screen-sm) {
    top: 490px;
  }
}

.factor-icon {
  height: 40px;
  position: absolute;
  width: 40px;

  &-toggle {

    @media ($screen-sm) {
      display: none;
    }
  }

  &-comprehension {
    top: 100%;
  }
}