/*----------- Key Factors -----------*/

.key-factors {
  color: $florence-gray;
  margin-top: 65px;

  @media ($screen-sm-up) {
    margin-top: 130px;
  }

  h3 {
    color: $florence-orange;
    font-size: 1em;
    margin-bottom: -0.3em;
    text-transform: uppercase;
  }
}

.section-title {
  color: $florence-blue;
  font-size: 0.8em;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.section-intro {
  color: $florence-blue;
  font-family: $secondary-font;
  font-size: 1.4em;
  line-height: 1.6em;
  margin: auto;
  text-align: center;
  width: 85vw;

  @media ($screen-sm-up) {
    font-size: 1.5em;
    width: 60%;
  }
}

.factor-bg {
  background: url('../images/body-burst-mobile.png') no-repeat top;
  background-size: 100vw;
  margin-top: -150px;

  @media ($screen-xs-up) {
    background-size: 57vw;
  }

  @media ($screen-sm-up) {
    background: url('../images/body-burst.png') no-repeat center, 1000px;
    margin-top: -100px;
    width: 100%;
  }

  @media ($screen-lg-up) {
    background-size: 900px;
  }

  @media ($screen-xxl-up) {
    margin-top: 0;
  }
}

.factor-box {
  background-color: $white;
  border-radius: 9px;
  font-size: 0.9em;
  left: 0;
  line-height: 1.6em;
  margin: 40px auto;
  overflow-x: visible;
  padding: 25px;
  position: relative;
  text-align: center;
  top: 0;
  width: 70vw;

  h3 {
    letter-spacing: 1px;
  }

  @media ($screen-sm-up) {
    font-size: 0.8em;
    line-height: 1.4em;
    width: 210px;
  }


  &::before {
    background-repeat: no-repeat;
    background-size: 65px 65px;
    bottom: 0;
    content: '';
    display: block;
    height: 65px;
    margin: auto;
    position: absolute;
    top: -100%;
    width: 65px;

    @media ($screen-sm-up) {
      background-size: 80px 80px;
      height: 80px;
      width: 80px;
    }
  }

  &-left {
    border-radius: 4px;
    padding-right: 20px;


    @media ($screen-sm-up) {
      border-radius: 156px 999px 999px 156px;
      padding-right: 40px;
    }

    &::before {
      background-size: 60px 60px;
      left: 41%;
      top: -95%;

      @media ($screen-sm-up) {
        background-size: 80px 80px;
        right: -200px;
        top: 0;
      }
    }
  }

  &-right {
    background-position: center;
    background-size: 60px 60px;
    border-radius: 4px;
    left: 0;
    padding-left: 20px;
    top: -100%;

    @media ($screen-sm-up) {
      border-radius: 999px 156px 156px 999px;
      padding-left: 40px;
    }

    &::before {
      background-size: 60px 60px;
      left: 41%;

      @media ($screen-xs-up) {
        left: 34vw;
      }

      @media ($screen-sm-up) {
        background-size: 80px 80px;
        left: -23%;
        top: 0;
      }
    }
  }

  &.comprehension {
    top: 440px;

    &::before {
      background-image: url('../images/gears.png');
    }

    @media ($screen-xs-up) {
      left: 0;
    }

    @media ($screen-sm-up) {
      top: 80px;
      left: 220px;
    }
  }

  &.denial {
    top: 440px;

    &::before {
      background-image: url('../images/heart.png');
    }

    @media ($screen-xs-up) {
      left: 0;
    }

    @media ($screen-sm-up) {
      left: -150px;
      top: 40px;
    }
  }

  &.cost {
    top: 440px;

    &::before {
      background-image: url('../images/heart.png');
    }

    @media ($screen-xs-up) {
      left: 0;
    }

    @media ($screen-sm-up) {
      left: 230px;
      top: 30px;
    }
  }

  &.complexity {
    top: 440px;

    &::before {
      background-image: url('../images/tally.png');
    }

    @media ($screen-xs-up) {
      left: 0;
    }

    @media ($screen-sm-up) {
      left: -270px;
      top: -150px;
    }
  }
}

.factor-icon {
  height: 40px;
  position: absolute;
  width: 40px;

  &-toggle {
    display: none;

    @media ($screen-sm-up) {
      display: block;
    }
  }

  &-comprehension {
    top: 100%;
  }
}
