/*-------- Top Fold styles ---------*/

main {
  background: $florence-light-blue;
  overflow-x: hidden;
  overflow-y: visible;
  padding-top: 50px;
}

.overflow-visible {
  overflow: visible;
}


.title-box {
  position: relative;
}

.title {
  margin: 0 auto 30px auto;
  max-width: 85vw;

  @media ($screen-sm-up) {
    max-width: 50vw;
  }
}

.subtitle {
  color: $florence-blue-green;
  font-family: $tertiary-font;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;

  @media ($screen-sm-up) {
    margin-bottom: 30px;
  }
}

.yellow-pill {
  left: 10px;
  position: absolute;
  top: -100px;
  transform: rotate(40deg);
  width: 5em;

  @media ($screen-sm-up) {
    left: 200px;
    transform: scale(2.5) translateX(-300%) rotate(1600deg);
  }
}

.pills {
  display: none;

  @media ($screen-sm-up) {
    display: block;
    left: 100px;
    position: absolute;
    top: 200px;
    transform: scale(1.5) translate(-300%, 20%) rotate(-1720deg);
    width: 8em;
  }
}

.purple-pills {
  position: absolute;
  right: -75px;
  top: 160px;
  width: 9em;
  z-index: 4;

  @media ($screen-sm-up) {
    right: 100px;
    top: 350px;
    transform: scale(1.5) translate(300%, 10%) rotate(1720deg);
  }

  @media ($screen-md-up) {
    right: 100px;
    top: 380px;
  }
}

.title-pill-red {
  transform-origin: 40% 60%;
  transform: scale(1, 1);
  transition: transform 0.2s ease-in-out;
}

.yellow-tablet {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.9) translate(300px, 0) rotate(1500deg);
  width: 60px;
}

.green-tablet {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.7) translate(-100px, -200px) rotate(1500deg);
  width: 50px;
}

.purple-tablet {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.9) translate(-200px, -200px) rotate(1500deg);
  width: 40px;
}

.pills-animating {

  .yellow-pill {

    @media($screen-sm-up) {
      transform: scale(1) translateX(0) rotate(40deg);
      transition: transform 2s ease-out;
    }
  }

  .pills {
    transform: scale(1) translate(0,0) rotate(0);
    transition: transform 2.5s ease-out;
  }

  .purple-pills {
    transform: scale(1) translate(0,0) rotate(0deg);
    transition: transform 2s ease-out;
  }

  .title-pill-red-bounce {
    transform: scale(1.005, 0.8);
    transition: transform 0.5s 2.5s ease-in-out;
  }

  .yellow-tablet {
    transform: translate(60px, -30px);

    @media ($screen-sm-up) {
      transform: scale(0.95) translate(-150px, -30px) rotate(0);
      transition: transform 3s;
    }
  }

  .green-tablet {
    transform: scale(0.8) translate(-50px, -110px) rotate(0);

    @media ($screen-sm-up) {
      transform: scale(0.8) translate(-320px, -70px) rotate(0);
      transition: transform 2s;
    }
  }

  .purple-tablet {
    transform: scale(0.9) translate(10px, -50px) rotate(0);

    @media ($screen-sm-up) {
      transform: scale(0.9) translate(-360px, -90px) rotate(0);
      transition: transform 3.2s;
    }
  }
}

@keyframes shake {

  10%, 90% {
    transform: rotate(30deg) translate3d(-1px, 0, 0) scale(1);
  }

  30%, 50%, 70% {
    transform: rotate(10deg) translate3d(-10px, 0, 0) scale(1);
  }

  40%, 60% {
    transform: rotate(20deg) translate3d(4px, 0, 0) scale(1);
  }
}

@keyframes shake2 {

  10%, 90% {
    transform: rotate(30deg) translate3d(-4px, 0, 0) scale(1);
  }

  30%, 50%, 70% {
    transform: rotate(30deg) translate3d(10px, 0, 0) scale(1);
  }

  40%, 60% {
    transform: rotate(30deg) translate3d(6px, 0, 0) scale(1);
  }
}

@keyframes shake3 {

  10%, 90% {
    transform: rotate(30deg) translate(-150px, 30px) scale(0.95);
  }

  30%, 50%, 70% {
    transform: rotate(25deg) translate(-150px, 30px) scale(0.95);
  }

  40%, 60% {
    transform: rotate(30deg) translate(-150px, 30px) scale(0.95);
  }
}

@keyframes shake4 {

  10%, 90% {
    transform: rotate(30deg) scale(0.8) translate(-325px, 80px);
  }

  30%, 50%, 70% {
    transform: rotate(28deg) scale(0.8) translate(-325px, 80px);
  }

  40%, 60% {
    transform: rotate(30deg) scale(0.8) translate(-325px, 80px);
  }
}

@keyframes shake5 {

  10%, 90% {
    transform: rotate(30deg) scale(0.9) translate(-360px, 105px);
  }

  30%, 50%, 70% {
    transform: rotate(32deg) scale(0.9) translate(-360px, 105px);
  }

  40%, 60% {
    transform: rotate(30deg) scale(0.9) translate(-360px, 105px);
  }
}

@keyframes shake6 {

  10%, 90% {
    transform: rotate(2deg) translate3d(0, 0, 0) scale(1);
  }

  30%, 50%, 70% {
    transform: rotate(0deg) translate3d(0, 0, 0) scale(1);
  }

  40%, 60% {
    transform: rotate(2deg) translate3d(0, 0, 0) scale(1);
  }
}

.pills-shaking {

  @media ($screen-sm-up) {

    .yellow-pill {
      animation: shake 0.6s ease-out;
    }

    .pills {
      animation: shake2 0.6s ease-out;
    }

    .purple-pills {
      animation: shake 0.6s ease-out;
    }

    .yellow-tablet {
      animation: shake3 0.6s ease-out;
    }

    .green-tablet {
      animation: shake4 0.6s ease-out;
    }

    .purple-tablet {
      animation: shake5 0.6s ease-in-out;
    }

    .title-pill-red {
      animation: shake6 0.6s ease-in-out;
    }

    .title-tablet {
      animation: shake6 0.6s ease-in-out;
    }
  }
}
