/*-------- Top Fold styles ---------*/

main {
  background: $florence-light-blue;
  overflow-x: hidden;
  overflow-y: visible;
  padding-top: 50px;
}

.overflow-visible {
  overflow: visible;
}


.title-box {
  position: relative;
}

.title {
  margin: 0 auto 30px auto;
  max-width: 85vw;

  @media ($screen-sm-up) {
    max-width: 50vw;
  }
}

.subtitle {
  color: $florence-blue-green;
  font-family: $tertiary-font;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;

  @media ($screen-sm-up) {
    margin-bottom: 30px;
  }
}

.yellow-pill {
  left: 10px;
  position: absolute;
  top: -100px;
  transform: rotate(40deg);
  width: 5em;

  @media ($screen-sm-up) {
    left: 200px;
    transform: scale(2.5) translateX(-300%) rotate(1600deg);
  }
}

.pills {
  display: none;

  @media ($screen-sm-up) {
    display: block;
    left: 100px;
    position: absolute;
    top: 200px;
    transform: scale(1.5) translate(-300%, 20%) rotate(-1720deg);
    width: 8em;
  }
}

.purple-pills {
  position: absolute;
  right: -75px;
  top: 160px;
  width: 9em;
  z-index: 4;

  @media ($screen-sm-up) {
    right: 100px;
    top: 350px;
    transform: scale(1.5) translate(300%, 10%) rotate(1720deg);
  }

  @media ($screen-md-up) {
    right: 100px;
    top: 380px;
  }
}

.title-pill-red {
  transform-origin: 40% 60%;
  transform: scale(1, 1);
  transition: transform 0.2s ease-in-out;
}

.yellow-tablet {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.9) translate(300px, 0) rotate(1500deg);
  width: 60px;
}

.green-tablet {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.7) translate(-100px, -200px) rotate(1500deg);
  width: 50px;
}

.purple-tablet {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.9) translate(-200px, -200px) rotate(1500deg);
  width: 40px;
}

.pills-animating {

  .yellow-pill {

    @media($screen-sm-up) {
      transform: scale(1) translateX(0) rotate(40deg);
      transition: transform 2s ease-out;
    }
  }

  .pills {
    transform: scale(1) translate(0,0) rotate(0);
    transition: transform 2.5s ease-out;
  }

  .purple-pills {
    transform: scale(1) translate(0,0) rotate(0deg);
    transition: transform 2s ease-out;
  }

  .title-pill-red-bounce {
    transform: scale(1.005, 0.8);
    transition: transform 0.5s 2.5s ease-in-out;
  }

  .yellow-tablet {
    transform: translate(60px, -30px);

    @media ($screen-sm-up) {
      transform: scale(0.95) translate(-150px, -30px) rotate(0);
      transition: transform 3s;
    }
  }

  .green-tablet {
    transform: scale(0.8) translate(-50px, -110px) rotate(0);

    @media ($screen-sm-up) {
      transform: scale(0.8) translate(-320px, -70px) rotate(0);
      transition: transform 2s;
    }
  }

  .purple-tablet {
    transform: scale(0.9) translate(10px, -50px) rotate(0);

    @media ($screen-sm-up) {
      transform: scale(0.9) translate(-360px, -90px) rotate(0);
      transition: transform 3.2s;
    }
  }
}

@include keyframes(shake) {
  @include shake(30deg, 20deg, 30deg, 1, -1px, -10px, 4px)
}

@include keyframes(shake2) {
  @include shake(30deg, 30deg, 30deg, 1, -4px, 10px, 6px)
}

@include keyframes(shake3) {
  @include shake2d(30deg, 28deg, 30deg, 0.95, -150px, 30px)
}

@include keyframes(shake4) {
  @include shake2d(30deg, 28deg, 30deg, 0.8, -325px, 90px)
}

@include keyframes(shake5) {
  @include shake2d(28deg, 30deg, 29deg, 0.9, -360px, 105px)
}

@include keyframes(shake6) {
  @include shake(2deg, 0deg, 2deg, 1, 0, 0, 0)
}

.pills-shaking {

  @media ($screen-sm-up) {

    .yellow-pill {
      @include animation(shake);
    }

    .pills {
      @include animation(shake2);
    }

    .purple-pills {
      @include animation(shake);
    }

    .yellow-tablet {
      @include animation(shake3);
    }

    .green-tablet {
      @include animation(shake4);
    }

    .purple-tablet {
      @include animation(shake5);
    }

    .title-pill-red {
      @include animation(shake6);
    }

    .title-tablet {
      @include animation(shake6);
    }
  }
}
