/*-------- Top Fold styles ---------*/

main {
  background: $florence-light-blue;
  overflow-x: hidden;
  overflow-y: visible;
  padding-top: 50px;
}


.title-box {
  position: relative;
}

.title {
  margin: 0 auto 30px auto;
  max-width: 85vw;

  @media ($screen-sm-up) {
    max-width: 50vw;
  }
}

.subtitle {
  color: $florence-blue-green;
  font-family: $tertiary-font;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;

  @media ($screen-sm-up) {
    margin-bottom: 30px;
  }
}

.yellow-pill {
  left: 10px;
  position: absolute;
  top: -100px;
  transform: rotate(40deg);
  width: 5em;

  @media ($screen-sm-up) {
    left: 200px;
    transform: scale(2.5) translateX(-300%) rotate(1600deg);
  }
}

.yellow-pill-roll {

  @media($screen-sm-up) {
    transform: scale(1) translateX(0) rotate(40deg);
    transition: transform 2s ease-out;
  }
}

.pills {
  display: none;

  @media ($screen-sm-up) {
    display: block;
    left: 100px;
    position: absolute;
    top: 200px;
    transform: scale(1.5) translate(-300%, 20%) rotate(-1720deg);
    width: 8em;
  }
}

.pills-roll {
  transform: scale(1) translate(0,0) rotate(0);
  transition: transform 3s ease-out;
}

.more-pills {
  position: absolute;
  right: -100px;
  top: -80px;
  width: 15em;

  @media ($screen-sm-up) {
    right: 100px;
    top: -75px;
    transform: scale(1.5) translate(300%, 20%) rotate(1720deg);
  }
}

.more-pills-roll {
  transform: scale(1) translate(0,0) rotate(0);
  transition: transform 3s ease-out;
}

.purple-pills {
  position: absolute;
  right: -75px;
  top: 160px;
  width: 9em;
  z-index: 4;

  @media ($screen-sm-up) {
    right: 100px;
    top: 350px;
    transform: scale(1.5) translate(300%, 10%) rotate(1720deg);
  }

  @media ($screen-md-up) {
    right: 100px;
    top: 380px;
  }
}

.title-pill-red {
  transform-origin: 40% 60%;
  transform: scale(1, 1);
  transition: transform 0.2s ease-in-out;
}

.title-pill-red-bounce {
  transform: scale(1.005, 0.8);
  transition: transform 0.5s 3.5s ease-in-out;
}

.purple-pills-roll {
  transform: scale(1) translate(0,0) rotate(0deg);
  transition: transform 2s ease-out;
}

.title-tablet {
  opacity: 0;
  transform-origin: 50% 14%;
  transform: rotate(1220deg) scale(0.2);
}

.title-tablet-roll {
  opacity: 1;
  transform: rotate(0deg) scale(1);
  transition: transform 2s ease-out, opacity 1s ease-in-out;
}
