<div class="title-box">
  <p class="subtitle">A Viget Exploration</p>
  <h1 class="title">
    <a href="/">
      <img src="images/title.svg" alt="Improving Medical Adherence" />
    </a>
  </h1>
  <img src="images/yellow-pill.svg" alt="" class="yellow-pill" data-module="pills">
  <img src="images/pills.svg" alt="" class="pills" data-module="pills">
  <img src="images/more-pills.svg" alt="" class="more-pills" data-module="pills">
  <img src="images/purple-pills.svg" alt="" class="purple-pills" data-module="pills">
</div>
