<div class="title-box" data-module="pills">
  <p class="subtitle">A Viget Exploration</p>
  <h1 class="title">
    <a href="/">
      {% include "components/title.svg" %}
    </a>
  </h1>
  <img src="images/yellow-tablet.svg" alt="" class="yellow-tablet">
  <img src="images/green-tablet.svg" alt="" class="green-tablet">
  <img src="images/purple-tablet.svg" alt="" class="purple-tablet">
  <img src="images/yellow-pill.svg" alt="" class="yellow-pill">
  <img src="images/pills.svg" alt="" class="pills">
  <img src="images/purple-pills.svg" alt="" class="purple-pills">
</div>
