/*--------- Font Faces ------*/

@font-face {
    font-family: geomanist;
    src: url(fonts/geomanist-regular-webfont.woff2);
}

@font-face {
    font-family: geomanist-medium;
    src: url(fonts/geomanist-medium-webfont.woff2);
}

$main-font: geomanist, sans-serif;
$main-font-medium: geomanist-medium, sans-serif;
$secondary-font: Merriweather, serif;
$tertiary-font: 'Myriad Pro', sans-serif;

/*-------- Colors ------*/

$florence-blue: #184d66;
$florence-light-blue: #d2e7e2;
$florence-orange: #c06d3a;
$florence-blue-green: #0e5254;
$florence-red: #e95e67;
$white: #ffffff;
$florence-gray: #504949;

/*------ Breakpoints ----*/

$screen-xs: 'max-width: 420px';
$screen-xs-up: 'min-width: 420px';
$screen-sm: 'max-width: 768px';
$screen-sm-up: 'min-width: 768px';
$screen-md: 'max-width: 1000px';
$screen-md-up: 'min-width: 1000px';
$screen-lg: 'max-width: 1200px';
$screen-lg-up: 'min-width: 1200px';
$screen-xl: 'max-width: 1400px';
$screen-xl-up: 'min-width: 1400px';
$screen-xxl-up: 'min-width: 1800px';