{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    {% block javascript %}
      <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
      <script src="javascripts/app.js"></script>
    {% endblock %}
    <style>
        @media not all and (min-resolution:.001dpcm) {
          @media {
            .cape {
              transform: translate(-5px, 0px);
            }
          }
        }
      </style>
  </body>
</html>
