{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}
      <div id="top-fold">
        <div id="title-box">
        <p id="subtitle">A Viget Exploration</p>
          <h1 id="title">
            <a href="/">
              <img src="images/title.svg" alt="Improving Medical Adherence" />
            </a>
          </h1>
          <img src="images/yellow-pill.svg" alt="Yellow pill." id="yellow-pill">
          <img src="images/pills.svg" alt="Green and light yellow pills." id="pills">
          <img src="images/more-pills.svg" alt="Three pill tablets." id="more-pills">
          <img src="images/purple-pills.svg" alt="Two purple pills." id="purple-pills">
        </div>
          <nav class="pillbar">
            <ul>
              <a href="#box-one"><li class="left-end active">The Problem</li></a>
              <a href="#key-factors" onclick="scroll(1)"><li>Key Factors</li></a>
              <a href="#questions"><li>The Question</li></a>
              <a href="#solution"><li class="right-end ">The Solution</li></a>
            </ul>
          </nav>

          <div class="box" id="box-one">
            <p id="main-thought">Patients who don’t take medication as prescribed are at risk of worsening health, increased hospitalization, and a greater chance of mortality.</p>
            <p>Just in the U.S., non-adherence has been attributed to over $100 billion dollars in avoidable healthcare costs.<sup>1</sup> In developed countries, among patients with chronic illness, approximately 50% do not take medications as prescribed.<sup>2</sup></p>

            <div class="quote">
              <p id="quote-text">“Increasing the effectiveness of adherence interventions might have a greater impact on the health of the population than any improvement in specific medical treatment.”</p>
              <p class="attribution">World Health Organization, 2005 <sup>3</sup><p>
            </div>
            <img src="images/pill-bottle.svg" alt="Short yellow pill bottle." id="pill-bottle">
            <img src="images/pill-bottle2.svg" alt="Tall yellow pill bottle." id="pill-bottle2">
            <img src="images/pill-bottle3.svg" alt="Red medicine bottle." id="pill-bottle3">
          </div>

          <div id="key-factors">
            <h2 class="section-title">Why People Don't Adhere</h2>
            <p class="section-intro">A myriad of factors conspire to prevent people from sticking to their treatment programs. But a few are most telling.</p>
            <img src="images/body.svg" alt="Simple human body." id="body">
            <div class="factor-box factor-box-right" id="comprehension">
              <img src="images/gears.svg" alt="Yellow gears icon.">
              <h3>Comprehension</h3>
              <p>“All of that medical jargon doesn’t make much sense to me but I don’t want to bother the doctor with my silly questions.”</p>
            </div>
            <div class="factor-box factor-box-left" id="denial">
              <img src="images/heart.svg" alt="Heart icon.">
              <h3>Denial</h3>
              <p>“I feel just fine. I don’t know why that doctor thinks I’m sick. Why would I take medicine that I don’t need?”</p>
            </div>
            <div class="factor-box factor-box-right" id="cost">
              <img src="images/money.svg" alt="Money icon.">
              <h3>Cost</h3>
              <p>“I took my prescription to the pharmacy but they said it would cost several hundred dollars! I just couldn’t afford it.”</p>
            </div>
            <div class="factor-box factor-box-left" id="complexity">
              <img src="images/tally.svg" alt="Money icon.">
              <h3>Complexity</h3>
              <p>“Taking 15 medications every day is tough. Especially since they all have different instructions. How am I supposed to keep track of everything?”</p>
            </div>
          </div>
      </div>
    {% endblock %}
    {% block javascript %}
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
